body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
